<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <!-- Add Bootstrap CSS link here -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; /* Light gray background color */
        }
        .reset-container {
            background-color: #ffffff; /* White background color */
            border: 1px solid #dee2e6; /* Light gray border */
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 reset-container">
                <h3>Ujumbe wa Ufutaji wa Nenosiri Umekutwa</h3>
                <p>Tumekutumia maelekezo ya barua pepe kwa ajili ya kurejesha nywila yako. Ikiwa kuna akaunti iliyo na anwani ya barua pepe uliyoingiza, unapaswa kuipokea hivi karibuni.</p>
                <p>Kama hutapata barua pepe, tafadhali hakikisha umeweka anwani ileile uliyosajili nayo, na angalia folda ya barua taka (spam).</p>
            </div>
        </div>
    </div>
</body>
</html>
